<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
     
      <form (ngSubmit)="formSubmitted(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Enter your email address: </label>
          <input class="form-control" id="email" type="email" name="email" email required ngModel #email="ngModel"/>
          <p *ngIf="!email.valid && email.touched" class="help-block">E-mail is not valid</p>
        </div>        
        <div class="form-group">
          <label for="subType">Choose your subscription type: </label>
          <select id="subType" class="form-control" name="subType" [ngModel]="'advanced'" required>
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>P
          </select>
        </div>
        <div class="form-group">
          <label for="password">Enter your password</label>
          <input type="password" class="form-control" id="password" name="password" required ngModel #password="ngModel">
          <p class="help-block" *ngIf="!password.valid && password.touched">Password must not be an empty string</p>
        </div>
        <hr>
        <p class="help-block" *ngIf="!f.valid && f.touched">Form is invalid</p>   
        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Submit</button>
      </form>

    </div>
  </div>
</div>