<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onFormSubmit(f)" #f="ngForm" #fElemRef>
        <div id="user-data" ngModelGroup="userdata" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" name="username" ngModel required #username="ngModel">
          </div>          
          <p *ngIf="username.invalid && username.touched" class="help-block">Username is not valid</p>          
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" name="email" ngModel required email #email="ngModel" >
            <p *ngIf="email.invalid && email.touched" class="help-block">Email is not valid</p>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data is not valid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" name="secret" [ngModel]="'pet'">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionAnswer"
            [(ngModel)]="answerToQuestion"
            rows="3"
            class="form-control"></textarea>
          <p>Your answer is : {{answerToQuestion}}</p>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label><input type="radio" name="gender" [ngModel]="'male'" [value]="gender" required>{{gender}}</label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
